@font-face {
  font-family: 'GuessFont';
  src: url('fonts/DigitalDisco.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleFont';
  src: url('fonts/Ace-Attorney.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CategoryFont';
  src: url('fonts/Milk\ Choco.otf');
  font-weight: normal;
  font-style: normal;
}

table { border-spacing: 15px 0px;}


.row {
  display: flex;
  border: 1px solid;
}

.guess {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  border: 1px solid;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(#5213e7, rgb(158, 72, 255)) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

#startScreen {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  color: #333;
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
}

@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

#startScreen div {
  height: 50%;
}

#startScreen h1 {
  position:absolute;
  width: 100%;
  color: #222;
  font-size: 40px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

#startScreen p {
  font-weight: bold;
}

#startScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}

@keyframes up {
  25% {
    top: -4px;
  }
}


#gameScreen {
  display: none;
  color: #000000;
  font-family: 'TitleFont', sans-serif;
}

#myButton {
  background-color: #5213e7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#infoTable tbody {
  font-family: 'GuessFont', sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black,
     2px  2px 4px rgba(0, 0, 0, 0.5);
}






